<h1><strong>Ticket Index</strong></h1>

<h4>Search by Artist:</h4>

<%= form_tag(tickets_path, method: :get) do %>
<%= text_field_tag(:term, params[:term]) %>
<br />
<%= submit_tag 'Search', name: nil, :class => "button is-success is-small" %>

<% end %>

<br />
<div class="tile is-ancestor">
  <div class="tile is-vertical is-8">
    <div class="tile">
      <div class="tile is-parent is-vertical">
        <%@tickets.each do |ticket| %>
        <article class="tile is-child notification is-warning">

          <p><%=link_to ticket.artist_name, ticket_path(ticket.id)%></p>

        </article>
        <%end%>
</div>
</div>
</div>
</div>
