<h1> <%=@venue.name%></h1>

<h3>Address:</h3>
<p><%=@venue.address%></p>

<h3>Available tickets:</h3>
<%@venue.tickets.each do |ticket|%>
<p> <%= link_to ticket.artist_name, ticket_path(ticket) %>
<% end %>
