<h1><strong> <%=@venue.name%> </strong></h1>
<br />
<h3><strong>Location:</strong></h3>
<p><%=@venue.address%></p>
<br />
<h3><strong>Available tickets:</strong></h3>
<%@venue.tickets.each do |ticket|%>
<p> <%= link_to ticket.artist_name, ticket_path(ticket) %>
<% end %>
<br />
<br />
<%= link_to 'Back', :back, :class => "button is-notification is-small" %>
